
*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("image/regbgpic.jpg");
   background-repeat: no-repeat;
   background-size:cover;
}




/*-------------------------------------------menubar start----------------------------------------------------*/
.navbar{
    position: sticky;
    top: 0%;
    z-index: 1;
    display:flex;
    background-color: rgb(0, 0, 0);
}

.nav{
        display: flex;
        list-style-type: none;
        
    }
    .nav li a{
        
        text-decoration: none;
        background-color: black;
        color: aliceblue;
        text-align: center;
        display: block;
        width: 100px;
        margin-top: 3px;
        padding: 14px 0px;
        font-size: 20px;
    }
    .nav li a:hover{
        border:2px solid #c430d7;
        border-radius: 0px;
        color: white;
    }
    .store{
        list-style-type: none;
        display: none;
    }
    .nav li:nth-child(2):hover .store{
        display: block;
    }


    a button{
    
        margin-left: 10px;
    }
    #login:hover{
        color: white;
        background-color: black;
        border:2px solid white;
        transition: 0.4s ;
     }
     #signup:hover{
        color: black;
     }
     #signup{
    text-decoration: none;
    background-image:linear-gradient(45deg,#df4881, #c430d7) ;
    color:white;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-color: black;
 }
#login{
    text-decoration: none;
    
    padding: 10px;
    width: 70px;
    border-radius: 10px;
 }
 .login-signup{
    position: relative;
    top: 5px;
    left: 770px;
 }

#cart{
    position: relative;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: white;
}
/*----------------------------------------------signup table START--------------------------------------*/

form.tbl{
    display:flex;
    justify-content: center;
    align-items: center;
   height: 600px;
}

table{
    display: flex;
justify-content: center;
    margin-top:30px;
    color: whitesmoke;
}
td,th{
    padding: 7px;
}
.signup{
    font-size: 30px;
}
.login a{
    text-decoration: none;
    color:rgb(226, 85, 244);
}
.login a:hover{
    color:rgb(255, 0, 72);
}
.login{
    font-size:17px;
    font:bold;
   
}
div.bck{
    background-color: rgba(0, 0, 0, 0.313);
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-top: 30px;
}
#submit{
    text-decoration: none;
    background-image:linear-gradient(45deg,#df4881, #c430d7) ;
    color:white;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-color: black;  
}

#pwd{
    height: 30px;
    border-radius: 10px;
    padding: 10px;

}
#email{
    height: 30px;
    border-radius: 10px;
    padding: 10px;

}

/*----------------------------------------------signup table end--------------------------------------*/


/*----------------------------------------------thankyou popup start--------------------------------------*/

.popup{
    width: 300px;
    background: #fff;
    border-radius: 6px;
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0,1);
}
.popup h2{
    font-size: 38px;
    font-weight: 500%;
    margin: 30px 0 10px;
}
.popup p{
    margin:15px;
}
.popup button{
    width: 100px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(0, 0, 0,1);
}
/*----------------------------------------------thankyou popup END--------------------------------------*/
